h1,h2,h3,h4,h5,p{
    margin: 0;
    padding: 0;
}

.sideBar{
    width: 15vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    background:linear-gradient( 180deg, #04619F -55%, #000000 100%);
}

.logo-name{
    display: flex;
    align-items: center;
}

.logo-name img{
    width: 3.5rem;
    height: 3.5rem;
}

.logo-name h1{
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: whitesmoke;
}

.sideBar-buttons{
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.sideBar-buttons button{
    padding: 12px 15px;
    display: flex;
    align-items: center;
    gap: 12px;
    border:none;
    background-color: transparent;
    font-size: small;
    font-weight: 500;
    color: whitesmoke;
}

.sideBar-buttons button:hover{
    transform: scale(1.1);
    cursor: pointer;
    background-color: #2F70B0;
    border-radius: 16px;
}

.sideBar-buttons img{
    width: 24px;
    height: 24px;
    filter: invert(100%);
}

.admin-card{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-evenly;
    padding: 10px 10px;
    background-color: #2F70B0;
    border-radius: 1rem;
    box-shadow: 0 0.1rem 0.5rem rgba(0,0,0,.55);
}

.admin-card img{
    width: 45px;
    height: 45px;
    border-radius: 100%;
    object-fit: contain;
}

.admin-card h4{
    font-size: 16px;
    color: whitesmoke;
    font-weight: 400;
}

.admin-card h5{
    font-size: 14px;
    color: whitesmoke;
    font-weight: 500;
}

