.sections-box textarea{
    width: 700px;
    height: 366px;
    border: 1px solid #a09999;
    border-radius: 20px;
    padding: 25px 0px 25px 41px;
    font-size: 20px;
    background-color: transparent;
}
