h1,h2,h3,h4,h5,p{
    margin: 0;
    padding: 0;
}

.navBar{
    width: 100vw;
    height: 62px;
    background-color: white;
    box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.479);
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navBar-box{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar-box h1{
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-right: 26rem;
}

.logoText-box{
    display: flex;
    align-items: center;
}

.logoText-box img{
    width: 70px;
    height: 70px;
}

.logoText-box h2{
    text-transform: uppercase;
    font-size: 24px;
    line-height: 90%;
    letter-spacing: 5%;
    font-weight: bold;
}